<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtre</title>
</head>
<body>
    {% for po in dem %}
    {% if po.matiere == filtre_matiere and po.pseudo == filtre_pseudo%}
    <fieldset>
        <li>{{po.matiere}} :<br>
          <fieldset>
            <legend>Commentaire :</legend>
          {{po.commentaire}} <br>
        </fieldset> <br>
        <fieldset>
          <legend>Prix :</legend>
        {{po.prix}} €
        </fieldset>
        {{po.pseudo}} <br>
        </li>
        </fieldset> <br>
    {% endif %}
    {% endfor %}
<a href="/accueil">Retour</a>
</body>
</html>